<div class="size">
    <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="col-1 lin-1">
        <input type="text" formControlName="nome" placeholder="Nome da Coleção" >
      </div>
      <div class="lin-1 col-2">
        <input type="text" formControlName="responsavel" placeholder="Responsável pela coleção" >
      </div>
      <div class="col-1 lin-2">
        <input type="text" formControlName="season" placeholder="Para qual estação" >
      </div>
        <div class="col-2 lin-2">
        <input type="text" formControlName="marca" placeholder="Para qual marca está criando?" />
      </div>
      <div class="col-1 lin-3">
        <input type="number" formControlName="orcamento" placeholder="Qual o orçamento desta coleção?" />
      </div>
      <div class="col-2 lin-3">
        <input type="number" formControlName="ano" placeholder="Ano de lançamento">
      </div>
      <img src="../../../assets/image 1.svg" alt="roupas">
      <ng-container *ngIf="isNew; else edit">
        <button (click)="cancela()">Cancelar</button>
        <button type="submit" class="btn">Salvar</button>
      </ng-container>
    </form>
</div>

<ng-template #edit>
  <button class="delete" (click)="delete()">Excluir</button>
  <div class="gridzinho">
    <button (click)="cancela()" class="cancel">Cancelar</button>
    <button type="submit" class="last">Atualizar</button>
  </div>
</ng-template>

