<div class="manual">
    <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="linha-um col-um">
        <input type="text" formControlName="nome" placeholder="Nome do Modelo" class="largura form-control">
      </div>
      <div class="linha-um col-dois">
        
        <select class="form-select largura" formControlName="tipo">
          <!-- <option selected>Selecionar Tipo</option> -->
          <option selected value="Bermuda">Bermuda</option>
          <option value="Bíquini">Bíquini</option>
          <option value="Bolsa">Bolsa</option>
          <option value="Boné">Boné</option>
          <option value="Calça">Calça</option>
          <option value="Calçado">Calçado</option>
          <option value="Camisa">Camisa</option>
          <option value="Chapéu">Chapéu</option>
          <option value="Saia">Saia</option>
        </select>
      </div>
      <div class="linha-dois col-um">
        <select class="form-select largura" formControName="colecao">
            <option selected>Selecionar Coleção</option>
            <option value="1">Coleção 1</option>
            <option value="2">Coleção 2</option>
        </select>
      </div>
      <div class="linha-dois col-dois">
        <input type="text" formControlName="responsavel" placeholder="Responsável pelo modelo" class="largura form-control"/>
      </div>
      <div class="linha-tres col-um">
        <p>Possui bordado?</p>
        <label>Sim</label>
        <input type="radio" formControlName="bordado" value="true">
        <label>Não</label>
        <input type="radio" formControlName="bordado" value="false">
        </div>
      <div class="linha-tres col-dois">
        <p>Possui estampa?</p>
        <label>Sim</label>
        <input type="radio" value="true" formControlName="estampa">
        <label>Não</label>
        <input type="radio" formControlName="estampa" value="false">
      </div>
      
      <ng-container *ngIf="isNew; else edit">
        <button class="cancela" (click)="cancela()">Cancelar</button>
        <button type="submit" class="btn">Salvar</button>
      </ng-container>
    </form>
</div>

<ng-template #edit>
  <button class="delete col-um" (click)="delete()">Excluir</button>
  <div class="gridzinho">
    <button (click)="cancela()" class="cancel">Cancelar</button>
    <button type="submit" class="last">Atualizar</button>
  </div>
</ng-template>

