.fundo{
    height: 88vh;
    display: grid;
    grid-template-columns: 3% 24% 22% 24% 24% 3%;
    grid-template-rows: 15% 5% 5% auto;
    width: 100%;
    
}

button{
    grid-column: 5/6;
    height: 50%;
    width: 60%;
    border: none;
    background-color: blue;
    color: white;
    justify-self: flex-end;
    align-self: center;
    border-radius: 3px;
}

.tabela{
    grid-column: 2/6;
    grid-row: 3/5;
    text-align: center;
    background-color: white;
    border-radius: 3px;
}

tr{
    border-bottom: 1px solid rgb(211, 206, 206);
}

h1{
    grid-column: 2/3;
    align-self: center;
}