<div class="fundo">
    <h1>Modelos</h1>
    <button (click)="criarModelo()">Criar Modelo</button>
    <table class="tabela">
        <tr>
            <th>ModeloID</th>
            <th>Nome do Modelo</th>
            <th>Responsável</th>
            <th>Coleção</th>
        </tr>
        <tr *ngFor="let item of novoObj" routerLink="/editmodel/{{item.id}}">
            <td>{{item.id}}</td>
            <td>{{item.nome}}</td>
            <td>{{item.responsavel}}</td>
            <td>{{item.nomeColecao}}</td>
        </tr>
    </table>
</div>