.tela{
    height: 80vh;
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 15% auto;

}

.botao{
    grid-column: 3/4;
    width: auto;
    height: 50%;
    background-color: blue;
    color: white;
    border: none;
}

.table{
    grid-column: 1/4;    
}