.fundo{
    height: 80vh;
    display: grid;
    grid-template-columns: 3%  auto auto 3%;
    grid-template-rows: 15% auto;

}

.botao{
    grid-column: 3/4;
    height: 50%;
    width: 33%;
    background-color: blue;
    color: white;
    border: none;
    justify-self: flex-end;
}

.table{
    grid-column: 2/4;
    background-color: white;
}

h1{
    grid-column: 2/3;
}