<div class="page">
  <img src="../../../assets/Fill-51.svg" alt="Logo Audaces">
  <div class="square">
    <h3>Sign In</h3>
    <p class="color1">Insira suas credenciais para acessar a conta</p>
    <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="form-group color1">
        <input class="form-control" type="email" formControlName="email" placeholder="Informe seu e-mail"/>
      </div>
      <div class="form-group color1">
        <input class="form-control" type="password" formControlName="senha" placeholder="Informe sua senha"/>
      </div>
      <button type="submit" class="btn btn2">Entrar</button>
    </form>
  </div>
  <p class="color1">Esqueceu sua senha? <button class="link" (click)="redefinirSenha()">Redefinir senha</button></p>
  <p class="color1">Não possui cadastro? <button class="link" (click)="cadastrarUsuario()">Cadastre-se</button></p>
</div>
