.centraliza{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(190, 243, 243);
}

.square{
    width: 270px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 4px;
}

.form-item>input{
    width: 200px;
    margin-bottom: 4px;
    border-radius: 3px;
    border-width: 1px;
}

.botao{
    background-color: blue;
    border: none;
    color: white;
    width: 100%;
    border-radius: 3px;
}

.link{
    background: none;
    color: blue;
    border: none;
}

.final{
    transform: translateY(10px);
}

#texto{
    text-align: center;
}