<div class="manual">
    <ng-container *ngIf="recuperando; else alternativo">
        <img src="../../../assets/Fill-51.svg" alt="">
        <h3>Redefinir Senha</h3>
         <p>Digite o e-mail associado à sua conta e enviaremos instruções para redefinir sua senha</p>
        <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input type="email" formControlName="email" />
          </div>
          <button type="submit" class="btn">Enviar Recuperação</button>
        </form>
    </ng-container>
</div>
<ng-template #alternativo>
    <img src="../../../assets/Fill-51.svg" alt="">
    <h3>Redefinir Senha</h3>
    <p>Um link com a senha foi enviado para {{correio}}</p>
    <button class="btn" (click)="voltarLogin()">Ir para tela de login</button>
</ng-template>