.screen{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f5ff;
}

.square{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background-color: white;
    width: 480px;
    height: 407px;
    text-align: center;
}

img#main{
    transform: translateY(-30px);
}

.topo{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.form{
    width: 70%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button{
    background-color: blue;
    color: white;
    border: none;
    width: 100%;
    height: 38px;
    border-radius: 6px;
    transform: translateY(-30px);
}

p{
    color: #B4B6C1;
}

.volta{
    cursor: pointer;
    height: 24px;
    width: 24px;
    align-self: flex-start;
    transform: translate(30px);
}

.title{
    align-self: center;
}

.btn{
    width: 70%;
}