.gridContainer{
    height: 100%;
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: 10% auto;
}

.cabecalho{
    grid-column: 1/3;
    border: solid 3px black;
}

.menu{
    grid-row: 2/4;
    border: solid 3px black;
}

img{
    width: auto;
    height: 15px;
}

li{
    list-style-type: none;
}

.drop{
    height: 50%;
}