.gridContainer{
    height: 100%;
    width: 99vw;
    display: grid;
    grid-template-columns: 17% auto;
    grid-template-rows: 12% auto auto;
    background-color: #f9f9f9;
}

.cabecalho{
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
}

.menu{
    grid-row: 1/5;
    display: grid;
    grid-template-rows: 15% 55% 30%;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top: none;
}

.option{
    grid-row: 2/3;
}

img#alert{
    width: 24px;
    height: 24px;
    transform: translateX(-40px);
}

img#char{
    width: auto;
    height: 50px;
    border: 1px solid gray;
    border-radius: 6px;
    margin-left: 5px;
    transform: translateX(-20px);
}

img#arrow{
    height: 20px;
    width: 20px;
    transform: translateX(-20px);
}

ul{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

li{
    height: 50px;
    list-style-type: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drop{
    height: 0;
    border: 0;
    padding: 0;
}

label{
    color: rgb(179, 174, 174);
    transform: translate();
}

li:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

img#full{
    transform: translateX();
}

.position{
    height: 0;
    width: 0;
}