<div class="gridContainer">
    <header class="cabecalho">
        <img id="full" src="../../../assets/Icon&Name.svg" alt="full">
        <img id="alert" src="../../../assets/notification-alert-icon.svg" alt="alerta">
        <img id="char" src="../../../assets/charizard-seeklogo.com.svg" alt="Dragãozão">
        <button class="drop" mat-button [matMenuTriggerFor]="menu"><img id="arrow" src="../../../assets/arrow-down-338-svgrepo-com.svg" class="img-thumbnail" alt="Arrow"></button>
        <mat-menu #menu="matMenu" yPosition="above">
            <button mat-menu-item>Sair</button>
            <button mat-menu-item>Mudar</button>
            <button mat-menu-item>Configurações</button>
        </mat-menu>
    </header>
    <div class="menu">
        <label>Menu</label>
        <ul class="option">
            <li routerLink="/home" routerLinkActive="selected">Dashboard</li>
            <li routerLink="/colecoes" routerLinkActive="selected">Coleções</li>
            <li routerLink="/modelos" routerLinkActive="selected">Modelos</li>
            <li>Obter Ajuda</li>
            <li>Comentários</li>
        </ul>
    </div>
    <router-outlet class="position"></router-outlet>
</div>
