.total{
    display: grid;
    height: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: auto auto auto auto;
}

.fundo{
    height: 80vh;
    width: 75vw;
    display: grid;
    grid-template-columns: auto 3% auto 3% auto;
    grid-template-rows: 20% 10% auto;
}

.tabela{
    grid-column: 1/6;
    grid-row: 3/4;
    text-align: center;
    border-radius: 5px;
    background-color: white;
}

.colecoes{
    width: 50%;
    height: 50%;
    
    border-radius: 8px;
    align-self: center;
    background-color: white;
}

.modelos{
    grid-column: 3/4;
    width: 50%;
    height: 50%;
    align-self: center;

    border-radius: 8px;
    background-color: white;
}

.media{
    grid-column: 5/6;
    width: 50%;
    height: 50%;
    align-self: center;
    border-radius: 8px;
    background-color: white;
}

tr{
    border-bottom: 1px solid;
    text-align: center;
}

.col{
    grid-column: 1/4;
    width: 95%;
    height: 65%;
    border-radius: 3px;    
}